.login-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    135deg, 
    var(--color-primary) 0%, 
    var(--color-primary-hover) 100%
  );
}